<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>에러 메세지</title>
</head>
<body>
    <% if(errcode == 1) { %> <script> alert('패스워드가 다릅니다.'); window.setTimeout(location.href='http://localhost:3000/bbs/signup', 1000 );</script> <% } %>
    <% if(errcode == 2) { %> <script> alert('id, 패스워드, 이름은 공백일수 없습니다.'); window.setTimeout(location.href='http://localhost:3000/bbs/signup', 1000 );</script> <% } %>
    <% if(errcode == 3) { %> <script> alert('아이디가 중복되었습니다. 다시 가입하세요'); window.setTimeout(location.href='http://localhost:3000/bbs/signup', 1000 );</script> <% } %>
    <% if(errcode == 4) { %> <script> alert('로그인 되어 있지 않습니다. 로그인 부터 하세요'); window.setTimeout(location.href='http://localhost:3000/bbs/list', 1000 );</script> <% } %>
    <% if(errcode == 5) { %> <script> alert('댓글은 로그인 상태에서 입력 가능합니다. 로그인 부터 하세요'); window.setTimeout(location.href='http://localhost:3000/bbs/login', 1000 );</script> <% } %>
    <% if(errcode == 6) { %> <script> alert('비활성화된 계정입니다. 다른 계정으로 로그인하십시오'); window.setTimeout(location.href='http://localhost:3000/bbs/login', 1000 );</script> <% } %>
    <% if(errcode == 7) { %> <script> alert('게시글 **제목**은 필수 입력 사항입니다.'); window.setTimeout(location.href='http://localhost:3000/bbs/login', 1000 );</script> <% } %>
    <% if(errcode == 8) { %> <script> alert('게시글 **내용**은 필수 입력 사항입니다.'); window.setTimeout(location.href='http://localhost:3000/bbs/login', 1000 );</script> <% } %>
</body>
</html>