<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>회원가입</title>
</head>
<body>
    <% if(code == 1) { %> <script> alert('이미 로그인되어 있습니다.'); window.setTimeout(location.href='http://localhost:3000/bbs/', 1000 );</script> <% } %>
    
    <form name="form1" action="/bbs/signupsave" method="post">
        <table border="1" style="width:600px">
            <tbody>
                <tr>
                    <td>아이디</td>
                    <td><input type="text" name="id" size="20" maxlength="20" value=""></td>
                </tr>
                <tr>
                    <td>패스워드</td>
                    <td><input type="password" name="pw1" size="20" maxlength="20" value=""></td>
                </tr>
                <tr>
                    <td>패스워드확인</td>
                    <td><input type="password" name="pw2" size="20" maxlength="20" value=""></td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td><input type="text" name="name" size="20" maxlength="20" value=""></td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td><input type="email" name="email" size="20" maxlength="20" value=""></td>
                </tr>
            </tbody>
        </table>
        <a href="#" onclick="form1.submit()">회원가입</a>
    </form>
</body>
</html>